:root {
  --main-color: #004b32;
  --secondary-color: #df7b2a;
}

.App {
  width: 100%;
  height: 100%;
}

.intro {
  color: white;
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 1rem;
}

thead {
  color: var(--secondary-color);
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}

.list {
  color: white;
  text-align: center;
}

.user-section:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.233);
}

.form-control {
  color: black;
}

.error-msg {
  color: red;
}

.buttons {
  text-align: center;
  padding: 1rem;
}

.btn-primary,
.btn-primary:hover,
.show>.btn-primary.dropdown-toggle,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary.focus,
.btn-primary:focus {
  background-color: var(--secondary-color);
  border: none;
}

.buttons .dropdown-btn {
  display: inline-block;
  margin-right: 3vw;
  margin-bottom: 3vh;
}



.edit-btn {
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
}

.edit-btn:hover,
.edit-btn:active,
.submit-btn:hover,
.submit-btn:active {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}

.delete {
  cursor: pointer;
}

@media all and (min-width: 500px) {
  /* .user-section {
    width: 60%;
  } */
}

/* only screen and */
@media all and (min-width: 700px) {
  .intro {
    width: 80%;
  }

  /* .list {
    width: 100%;
  } 

  .user-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .user-section .fullname {
    flex-basis: 33%;
  }

  .user-section .email {
    flex-basis: 32%;
  }

  .user-section .postcode {
    flex-basis: 10%;
  }

  .user-section .tel {
    flex-basis: 17%;
  }

  .user-section .delete {
    margin-top: 2px;
    height: 28px;
  }

  .user-section .edit-btn,
  .user-section .submit-btn {
    height: 5vh;
    flex-basis: 7%;
    margin-left: 10px;
  }*/

  .user-input input {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 0.3rem;
    text-align: center;
  }


  /* .user-input input.email,
  .user-input input.tel,
  .user-input input.postcode {
    margin-left: 1%;
  } */

}